@import "tailwindcss";
@plugin "daisyui";


html, body {
  scroll-behavior: smooth;
}

:root.dark {
  --bg: #0A0A0A;
  --bg2: #111;
  --card: #141414;
  --border: #1F1F1F;
  --text: #E5E5E5;
  --text2: #A3A3A3;
  --p1: #A855F7;
  --p2: #C084FC;
  --b1: #3B82F6;
  --b2: #60A5FA;
}
